name: Danger
on:
  pull_request:
    types: [opened, synchronize, edited]
    branches: 
      - main
      - hotfix
jobs:
  danger:
    name: Danger
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.head_ref }}-${{ github.workflow }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
      - name: Danger
        uses: 417-72KI/danger-swiftlint@c332c5760ed64ddb55c8b54d0562e7df5a275e2d # v6.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
